.about {
    padding-bottom: 48px;    
}

.about-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.picture {
    height: 500px;
}    

.about-info {
    font-size: 24px;
    
}

.info-name {
    background-color: #f2d53c;
    font-size: 35px;
}

.info-name:hover {
    background-color: #7d3cff;
    color: #ffffff;
}

@media only screen and (max-width: 720px) {
    .about-top {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .picture {
        height: 300px;
    }

    .about-info {
        font-size: 20px;
        
    }
    .info-name {
        font-size: 25px;
    }

    .picture {
        height: 300px;
    }
}