.skill-card {
    width: max-content;
    padding: 8px 16px;
    height: 122px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 6px;
    border-radius: 6px;
    background-color: #f4f00b;
}

.skill-icon {
    font-size: 60px;
}

.skill-name {
    font-size: 14px;
}

@media only screen and (max-width: 720px) {
    .skill-card {
        width: max-content;
        height: 100px;
    }
    .skill-icon {
        font-size: 50px;
    }
}