.contact {
    display: flex;
    flex-direction: column;
    padding-bottom: 50px;
}

.section-title {
    font-size: 34px;
    font-weight: 700;
    text-decoration-line: underline;
    text-decoration-style: wavy;
    text-decoration-color:#f4f00b;
    padding-bottom: 34px;
}

.contact-info {
    font-size: 20px;
   
}

.contact-info p {
   font-size: 20px;
}

.story-quote {
    font-weight: 700;
}

.story-link {
    text-decoration: none;
    color: #6563FF;
    font-weight: 700;
}

@media only screen and (max-width: 720px) {
    .contact-container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .section-title {
        display: flex;
        justify-content: center;
        font-size: 27px;
    }
    .contact-info p {
        font-size: 18px;
     }
}   