.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    padding: 12px;
    position: relative;
}

.menu {
    display: flex;
    flex: 1;
    justify-content: flex-end;
}

.menu-icon {
    font-size: 24px;
}

.mobile-menu {
    display: none;
}

.web-menu {
    display: flex;
}

.logo {
    display: flex;
    font-size: 40px;
    font-weight: 900;
    color: #7d3cff;
}

.logo:hover {
    color: #f2d53c;
}

@media only screen and (max-width: 720px) {
    .mobile-menu {
        display: flex;
    }

    .web-menu {
        display: none;
    }

    .logo {
        font-size: 35px;
    }
}