.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    padding: 12px;
    position: relative;
    font-family: 'Mulish', sans-serif;
}

.menu {
    display: flex;
    flex: 1;
    justify-content: flex-end;
}

.menu-icon {
    font-size: 24px;
}

.mobile-menu {
    display: none;
}

.web-menu {
    display: flex;
}

.logo {
    display: flex;
    font-size: 40px;
    font-weight: 700;
    color: #6563FF;
}

.logo:hover {
    text-decoration-line: underline;
    text-decoration-style: wavy;
    text-decoration-color: #f4f00b;
}

@media only screen and (max-width: 720px) {
    .mobile-menu {
        display: block;
    }

    .web-menu {
        display: none;
    }

    .logo {
        font-size: 35px;
    }
}