.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;

}
.footer a {
    color: #000000;
    text-decoration-line: underline;
    text-decoration-style: wavy;
    text-decoration-color: #f4f00b;
    padding-left: 4px;
}

.footer-icon {
    padding-left: 2.2px;
    padding-right: 3.2px;
}
.footer-icon:hover {
    transform: scale(1.5);
}